#about-us p a:hover {
    color: #f1c046;
}

#about-us p a:hover {
    color: #f1c046;
}

#about-us p a {
    text-decoration: underline !important;
}

#about-us {
    height: 800px;
    padding: 50px;
    text-align: center;
    position: relative;
    background: url(../../assets/images/about-us/body-bg.jpg) center center/cover no-repeat;
}
.heading {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 51px;
}
.about-us-content {
    margin-top: 150px;
}
p {
    font-size: 23px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    color: white;
    line-height: 35px;
}